.title {
    text-align: center;
    text-style: bold;
    color: #00ff00;
    margin: 1;
}

.main_container {
    padding: 1;
}

.buttons {
    align: center;
    margin: 1;
}

#syllabus_input {
    height: 10;
    margin: 1;
}

#topics_table, #results_table {
    height: 15;
    margin: 1;
}